* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: #222;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    padding: 2rem;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    /* background-color: aquamarine; */
    height: 100%;
    width:100%;
    /* overflow: auto; */

    position: relative;
    /* border: 5px solid salmon; */

}

/* width: 400px;
height: 650px;
overflow: hidden; */

.box {
    /* height: 500px;
    max-height: 500px; */
    width: 350px;
    /* height: 650px; */
    overflow: hidden;
    aspect-ratio: 2.5/3.5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    transform: translateX(0);
}

.active 
{
    z-index: 150;
}

#prevButton, #nextButton
{
    /* padding:1rem; */
    font-size: 3rem;
    z-index: 400;
    background-color: rgba(100,100,100,0.5);
    width:80px;
    height:80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    aspect-ratio: 1/1;
    text-decoration: none;

    transition: all 300ms ease-in;
    transform: scale(100%);

    /* margin-inline: 1.5rem; */
}

#prevButton:hover, #prevButton:active, #nextButton:hover, #nextButton:active
{
    transform: scale(115%);
}


/* from my css */
.triangle-left-top{
    width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 32px 0 0;
  border-color: #eee transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.triangle-right-top{
    width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 32px 32px 0;
  border-color: transparent #eee transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.triangle-left-bottom{
    width: 0;
  height: 0;
  border-style: solid;
  border-width: 32px 0 0 32px;
  border-color: transparent transparent transparent #eee;
  position: absolute;
  bottom: 0;
  left: 0;
}

.triangle-right-bottom{
    width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 32px 32px;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card, .green-border{
    border-color: #eee;
}

.sqaure, .line{
    background-color: #eee;
}

.triangle-container{
    background-color: white;
}

.custom{
    bottom: 16rem;
}

.custom-height{
  height : 53%;
}

.controls-container{
    margin-top: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: auto;
    height: 10vh;
}

.fa-solid, .fa-regular{
    color: white;
    font-size: 2rem;
    z-index: 500;
}

.bigger{
    font-size: 4rem;
}

.clicked{
    color: red;
}

